# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Virtual environments
venv/
myenv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo

#large files in the backend
backend/myenv/Lib/site-packages/torch/lib/dnnl.lib
backend/myenv/Lib/site-packages/torch/lib/torch_cpu.dll
backend/myenv/Lib/site-packages/llvmlite/binding/llvmlite.dll

# Environment variables

.env.local